@use "../../sass/typography";
@use "../../sass/layout";
@use "../../sass/colors";
@use "../../sass/functions";
@use 'sass:list';

.resume {
  $heading-text-sizes: (32px, 20px, 17px, 14px);
  $line-height: 1.15;
  $h2-spacing: 14px;
  $h3-spacing: 20px;

  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  p {
    line-height: $line-height;
  }

  p,
  li,
  a {
    font-size: list.nth($heading-text-sizes, 4);
  }

  h2 {
    font-size: list.nth($heading-text-sizes, 2);
    margin-bottom: $h2-spacing;
  }

  header {
    h1 {
      text-align: center;
      font-size: list.nth($heading-text-sizes, 1);
      line-height: 0.8;
      font-weight: 600;
    }

    .contactInformation {
      display: flex;
      margin-top: 12px;
      justify-content: center;

      li {
        display: inline-flex;

        &:not(:last-child) {
          &:after {
            display: inline-block;
            content: "";
            position: relative;
            width: 1px;
            height: 16px;
            background-color: var(--gray);
            margin: 0 12px;
          }
        }

        svg
        {
          color: var(--gray);
          margin-top: 2px;
          justify-self: center;
        }
      }

      .contactInnerWrapper {
        display: inline-grid;
        grid-template-columns: max-content 1fr;
        gap: 6px;
        align-items: center;
      }
    }
  }

  .resumeSection {
    margin-top: 26px;

    h2 {
      display: flex;
      align-items: center;
      color: var(--color-4);

      &:after {
        content: "";
        flex: 1;
        height: 1px;
        display: block;
        background: var(--light-gray);
        margin-left: var(--spacing-9);
      }
    }

    .accomplishment {
      .accomplishmentHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .verticalList {
        padding-left: 12px;
      }
    }
  }

  .skillGroup {
    &:not(:last-child) {
      margin-bottom: var(--spacing-3);
    }

    h3 {
      font-size: list.nth($heading-text-sizes, 4);
      display: inline;
    }

    .skillListContainer {
      display: inline;

      .skillList {
        display: inline;

        li {
          display: inline;

          &:not(:last-child):after {
            content: ", "
          }
        }
      }
    }
  }

  .accomplishment {
    &:not(:last-child) {
      margin-bottom: $h3-spacing;
    }

    h3 {
      font-size: list.nth($heading-text-sizes, 3);
    }

    h4 {
      font-weight: normal;
      font-size: list.nth($heading-text-sizes, 4);
    }

    .accomplishmentHeader {
      margin: 0 0 4px;
    }

    .verticalList {
      $diameter: 4px;
      list-style: none;

      li {
        margin: var(--spacing-3) 0 0;
        display: flex;

        &:before {
          content: "";
          border-radius: 10%;
          background-color: var(--dark-gray);
          width: $diameter;
          height: 1px;
          margin: 7px 8px 0 -12px;
          flex: 0 0 auto;
        }
      }
    }
  }
}
